In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

## base_url = https://api.census.gov/data/2019/acs/acs5/subject?get=NAME,S0101_C01_001E&for=region:*&key=api_key

api_key = "0e395bcf9cca78932f9c8e80c0a8a55fe1cba723"
# Census API Key

c = Census(api_key, year=2019)

## "0e395bcf9cca78932f9c8e80c0a8a55fe1cba723"

In [35]:
census_data = c.acs5.get(("NAME", "B01003_001E", "B19013_001E", "B01003_001E", "B01002_001E", "B11001_001E",
                          "B19301_001E", "B08303_001E", "B08015_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B11001_001E": "Number of Households",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B08303_001E": "Total Commute Time",
                                      "B08015_001E": "Total Vehicles",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
# state = 

census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

census_pd = census_pd[["Zipcode", "Population", "Number of Households", 
                       "Household Income", "Per Capita Income", "Poverty Count", "Poverty Rate", 
                       "Total Commute Time", "Total Vehicles"]]
                       # "Average Vehicles per Household", "Average Commute Time"]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Population,Number of Households,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Total Commute Time,Total Vehicles
0,00601,17113.0,5509.0,14361.0,7493.0,10552.0,61.660726,3504.0,3115.0
1,00602,37751.0,12740.0,16807.0,9694.0,18653.0,49.410612,10525.0,8645.0
2,00603,47081.0,19228.0,16049.0,11259.0,23691.0,50.319662,11479.0,10460.0
3,00606,6392.0,1946.0,12119.0,6093.0,4185.0,65.472466,1228.0,1085.0
4,00610,26686.0,8795.0,19898.0,10572.0,12204.0,45.731844,8065.0,6800.0

In [42]:
census_pd = census_df.dropna(how='any')
census_pd.head()

# # Visualize
# print(len(census_pd))
# census_pd.head()

cleaned_vehicles = census_pd["Total Vehicles"].dropna(how='any')

census_pd["Average Vehicles per Household"] = census_pd["Total Vehicles"] / census_pd["Number of Households"]
## need to drop NA rows first

# census_pd["Average Commute Time"] = census_pd["Total Commute Time"].astype(int) / census_pd ["Number of Households"].astype(int)

KeyError: 'Total Vehicles'

In [30]:
## census_pd = census_pd[["Zipcode", "Population", "Number of Households", "Household Income",
#                        "Per Capita Income", "Poverty Count", "Poverty Rate", 
#     "Total Commute Time", "Total Vehicles"
#     "Average Vehicles per Household", "Average Commute Time"]]

In [31]:
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)